
header > p {
  color: yellow;
}

section p:hover {
  background-color: yellow;
}


/* Q1*
.alert.success {
  color: yellow;
}

.alert .success {
  color: yellow;
}

.alert, .success {
  color: yellow
}

.alert--.success {
  color: yellow
}
*/


/* if(condition1 || condition2) 

*/

/* Q2 */
/* .first.second { color: green}; */

/* div > p { color: green; } */

/* div p.second, #first { color: green; } */

/* p:last-child { color: green; }  */



/*Q3*/
/* p { color: gray; } */

/* /* #red p { color: red; } */


.blue.important { color: blue }
.red { color: red; }

/* #red .blue { color: magenta; }

.green p { color: lightgreen; } */

/* div.green p.blue { color: cyan; } */
