/* General Rules */
div {
    background-color:yellow;
}

/*********
** Header 
***********/

h1 { 
    font-family: 'Helvetica';
    color: white;
    background-color: #333; /*dark gray*/
    padding: 1em 1em;
    margin-top: 0;
}

/* Main */

.text-section {
    background-color: lightgrey;
}

.media-section {
    /* background-color: lightsteelblue */
    text-align:center;
}

img {
    max-width: 300px;
}

.list-section {
    background-color: mediumorchid;
}

/* Utility */
.spacer {
    border-bottom: 3px solid black;
}
