/*******
*** General
*********/

div {
    background-color:yellow;
}

div > img {
    border-radius: 10px;
}

.separator {
    border: 3px solid black;
}

/*** Header Rules ***/

h1 {
    font-family: 'Helvetica';
    color: white;
    background-color: #333; /*dark gray*/
    padding: 1em 1em;
    margin-top: 0;
}


/*** Main Content Rules **/

img {
    max-width: 300px;
}

.grey-section {
    background-color:lightgrey;    
    padding: .5em;
}


/* #text-section,  #list-section{
    background-color:lightgrey;    
    padding: .5em;
} */


.media-section {
    background-color:lightsteelblue;
}

/* .media-section img {
    border-radius: 0;
} */

.list-section {
    background-color:lightpink;
}


